h1 {
    text-align: center;
    color: #F7996E;
}

img{
    display: block;
    margin: auto;
    width: 350px;
    height: 250px;
    border: 5px solid #F7996E;
    border-radius: 15px;
    
}

body{
    background-color: #BFD7EA;
}

li {
    color: #F7996E;
}

ol{
    font-size: xx-large;
}

ul {
    font-size: x-large;
    font-style: italic;
}

h3{
    text-decoration: underline;
    font-size: larger;
    font-weight: 900;
}
label{
    font-size: x-large;
}

